/* global rules */

:root {
  --lineColor: #e6e6e6;
  --background: #f7f7f7;
  --statusDot: #468669;
}

body {
  font-family: "Poppins" "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--background);
}

section.contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control,
.btn {
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

:is(.sign-up, .users, .login) .wrapper {
  padding: 20px;
}

.wrapper header {
  padding: 20px 20px 0 20px;
  margin-bottom: 10px;
}

.contentContainer .alert {
  display: none;
  font-size: 22px;
  font-weight: 600;
}

/*************************** 
***form login/sign up wrapper
***************************/
.wrapper {
  width: 450px;
  box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.2),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 15px;
}

.wrapper .title h1 {
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--lineColor);
}

.wrapper .nameDetails .firstName {
  padding-right: 10px;
}

@media screen and (max-width: 580px) {
  .wrapper .nameDetails .firstName,
  .wrapper .nameDetails .lastName {
    width: 100%;
  }
  .wrapper .nameDetails .lastName {
    padding-right: 10px;
  }
}

.wrapper .password {
  position: relative;
}

.wrapper .password i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(50%);
  color: #ccc;
  cursor: pointer;
}

.wrapper .password i.active::before {
  content: "\f070"; /* this is unicode for the icon */
  color: #333;
}

.wrapper form .button input {
  width: 90%;
  height: 50px;
  font-size: 23px;
  font-weight: 600;
  box-shadow: none;
}

/*************************** 
***Users content
***************************/

.wrapper img {
  border-radius: 50%;
  object-fit: cover;
}

.users header,
.usersList a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--lineColor);
}

:is(.users, .usersList) .content {
  display: flex;
  align-items: center;
}

.users header .content img {
  height: 50px;
  width: 50px;
}

:is(.users, .usersList) .details {
  margin-left: 15px;
}

:is(.users, .usersList) .details span {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.users header .logout {
  margin-bottom: 30px;
}

.users .search {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.users .search .text {
  font-size: 18px;
}

.users .search input {
  width: calc(100% - 42.5px);
  position: absolute;
  height: 40px;
  font-size: 18px;
  padding: 0 16px;
  border-radius: 10px 0 0 10px;
}

.users .search button {
  border-radius: 0 10px 10px 0;
  height: 40px;
}

/*************************** 
***Users content
***************************/

.wrapper .usersList {
  max-height: 400px;
  overflow-y: auto;
}

:is(.chat-box, .usersList)::-webkit-scrollbar {
  width: 0;
}

.wrapper .usersList a {
  padding-right: 15px;
  margin-bottom: 15px;
  border-bottom: #f1f1f1;
  page-break-after: always;
}

.wrapper .usersList a:last-child {
  border: none;
  margin-bottom: 0;
}

.wrapper .usersList a .content img {
  width: 35px;
  height: 35px;
}

.wrapper .usersList a .content p {
  color: #67676a;
}

.usersList a .showStatus {
  font-size: 12px;
  color: var(--statusDot);
}

.usersList a .showStatus.offline {
  color: #ccc;
}

/*************************** 
***Chat area content
***************************/
.chat-area header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-area header .content {
  display: flex;
  align-items: center;
}

.chat-area header .content i {
  font-size: 18px;
  color: #333;
}

.chat-area header .details {
  padding-top: 8px;
}

.chat-area .content img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 15px;
}

.chat-box {
  height: 500px;
  background-color: #f7f7f7;
  padding: 10px 20px 20px 20px;
  overflow-y: auto;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.receiving .details,
.sending .details {
  max-width: calc(100% - 130px);
}

.chat-box .sending {
  display: flex;
  justify-content: flex-end;
}

.sending .details p {
  background-color: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
  margin-left: auto;
}

.chat-box .receiving {
  display: flex;
  align-items: flex-end;
}

.receiving img {
  height: 35px;
  min-width: 35px;
  border-radius: 50%;
}

.receiving .details p {
  background-color: #fff;
  border-radius: 18px 18px 18px 0;
  margin-left: 10px;
  margin-right: auto;
}

.sendingForm {
  padding: 10px;
}

.sendingForm input {
  border-radius: 5px 0 0 5px;
}

.sendingForm button {
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
