/* global rules */

body {
  font-family: "Poppins" "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f7f7f7;
}

.form-control {
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

/*************************** 
***form section 
***************************/
.wrapper {
  width: 450px;
  box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.2), 0 32 64px -48px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 20px;
}
