body {
  background: linear-gradient(to top, #a95487, #24b0c7);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  box-shadow: none !important;
}

.header h2 {
  font-size: 40px;
  font-weight: 600;
}

.header p {
  font-size: 18px;
}

.row .mail-form {
  max-width: 550px;
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row .mail-form .form-control {
  height: 43px;
  font-size: 15px;
}

.row .mail-form .textarea {
  min-height: 200px;
  font-size: 15px;
  resize: none;
}
